@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    height: 100%;
  }
  #app {
    /* height: 100vh; */
    /* max-height: 200vh; */
    height: 100%;
    min-height: 100vh;
  }
}
@layer utilities {
  .main-bg {
    background: linear-gradient(270deg, #ff9a9e 0%, #fad0c4 100%);
  }
  .selected {
    @apply bg-error-500;
    @apply border-error-500;
    color: white;
  }
  p {
    @apply leading-8;
  }
  input::placeholder {
    font-size: 16px;
  }
  .loading {
    @apply opacity-50 pointer-events-none;
  }

  .loader {
    border-top-color: #fda95b;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  /* .default {
    @apply flex items-center justify-center font-bold text-gray-700 border-2 border-gray-700 rounded-full cursor-pointer w-9 h-9;
  } */

  .active {
    @apply text-white bg-error-900;
  }
  .done {
    @apply line-through opacity-50;
  }
}
